/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  p {
      text-align: left;

  
    
    
  }
  
  header {
    font-size: 32px;
    text-align: left;
   
  }
  
  section {
    
  
  }
  
  #left {
    
  
  }
  
  #paragraph {
    background: #eee;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    float: left;
    width: 33.33%;
 
  
  
  }
  
  #fixed {
      position: fixed;
      
  

  
  }
  
  #full {
  
  
  }
  
  #division {
  
  
  }
  
  aside {
 
  
  
  }
  
  footer {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
  }
  
  .clearfix::after {
      content: "";
      clear: both;
      display: table;
  }